body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

nav {
  padding-top: 70px;
}
nav .logo {
  margin-bottom: 90px;
  text-align: center;
}
nav .logo img {
  width: 140px;
  margin-top: -30px;
}
nav .email {
  text-align: right;
}
nav .menu {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 18px;
}
nav .menu a {
  text-decoration: none;
  color: #3D3D3D;
}

.header-img {
  width: 100%;
  height: 500px;
  background-color: #CAFAFE;
}

.about {
  margin-top: 12%;
  margin-bottom: 12%;
}
.about h1 {
  text-align: right;
  color: #525252;
}
.about .wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.about .about-me p:nth-child(1) {
  text-align: right;
  font-size: 54px;
  letter-spacing: 5px;
  line-height: 50px;
  color: #405266;
}
.about .about-me p:nth-child(1) span {
  color: #95D3D0;
}
.about .about-me p:nth-child(2) {
  text-align: right;
  font-size: 20px;
  color: #5A7492;
}
.about .about-me p:nth-child(3) {
  text-align: right;
  color: #4C4C4C;
}
.about .skills p {
  text-align: right;
}
.about .about-picture {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}
.about .about-picture img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.about .about-picture .filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(84, 249, 255, 0.3) 0%, rgba(132, 67, 230, 0.1) 100%);
}

.portfolio h1 {
  color: #4F4F4F;
}
.portfolio img {
  width: 40%;
}
.portfolio .box {
  background-color: #F1F1F1;
  border-radius: 2px;
}
.portfolio .box1 {
  text-align: center;
  padding: 11% 0 11% 0;
}
.portfolio .box2 {
  text-align: center;
  margin-bottom: 4%;
  padding: 7% 0 7% 0;
}
.portfolio .box2 img {
  width: 58.6%;
}
.portfolio .box3 {
  text-align: center;
  padding: 7% 0 7% 0;
}
.portfolio .box3 img {
  width: 59%;
}
.portfolio .box4 {
  text-align: center;
  padding: 6% 0 6% 0;
}
.portfolio .box5 {
  text-align: center;
  padding: 18.5% 0 18.5% 0;
}
.portfolio .box5 img {
  width: 66%;
}
.portfolio .box6 {
  text-align: center;
  padding: 10% 0 10% 0;
  margin-bottom: 150px;
}
.portfolio .gutter {
  padding: 1%;
}

footer {
  background-color: #333366;
  height: 570px;
}
footer .middle-line {
  width: 1px;
  height: 50px;
  border-right: 1px solid #FFCCFF;
  margin: 0 auto;
  margin-top: 20px;
}
footer p {
  color: #FFCCFF;
  font-size: 16px;
  text-align: center;
  margin-left: 100px;
  margin-top: -15px;
}
footer h1 {
  color: #FFFFFF;
  font-size: 38px;
  text-align: center;
  margin-top: -15px;
  letter-spacing: 2px;
}
footer .contact-form {
  margin: 0 auto;
  margin-top: 80px;
  width: 90%;
  max-width: 700px;
}
footer .contact-form input {
  position: relative;
  font-size: 16px;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 22px;
  border: none;
  line-height: 36px;
  background-color: #333366;
  border-bottom: 2px solid #FFCCFF;
}
footer .contact-form input:focus {
  outline: none;
}
footer .contact-form input:focus + label, footer .contact-form input.not-empty + label {
  transform: translateY(-22px);
}
footer .contact-form input[type=subject] {
  padding-top: 60px;
  font-size: 14px;
}
footer .contact-form .button {
  margin: 0 auto;
  width: 150px;
}
footer .contact-form input[type=submit] {
  background-color: #D7D1FE;
  font-size: 18px;
  color: #333366;
  border: none;
  border-radius: 2px;
  margin-top: 50px;
}
footer .contact-form label {
  position: absolute;
  bottom: 36px;
  color: #8284B2;
  cursor: text;
  transition: transform .2s ease-in-out;
}
