* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Neucha', 'Comic Sans MS', sans-serif;
  background-color: #ffffff;
  background-image: url('/assets/images/ecailles.png');
}

a {
  text-decoration: none;
  color: #464646;
}

@import 'layout/side-navbar';
@import 'layout/header';
@import 'layout/headings';
@import 'layout/about';
@import 'layout/portfolio';
@import 'layout/footer';
@import 'helpers/font-icons';