* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Neucha', 'Arial Narrow', sans-serif;
}

a {
  text-decoration: none;
  color: #464646;
}

@import 'partials/side-navbar';
@import 'partials/header';
@import 'partials/headings';
@import 'partials/about';
@import 'partials/portfolio';
@import 'partials/contact';
@import 'partials/footer';
@import 'helpers/font-icons';