html {
  background-color: #F0F0F0;
}

body {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  max-width: 1440px;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 26px -2px #CCCCCC;
}

a {
  text-decoration: none;
  color: #464646;
}

@import 'layout/grid12';
@import 'helpers/font-icons';
@import 'layout/header';
@import 'layout/about';
@import 'layout/portfolio';
@import 'layout/footer';