.about {
  
  padding-bottom: 12%;
  background-color: rgb(247, 247, 247);

  h1 {
  	text-align: right;
  	color: #525252;
  }

  .wrapper {
  	width: 100%;
  	max-width: 800px;
  	margin: 0 auto;
  }

  .about-me {
    p:nth-child(1) {
    	text-align: right;
      font-size: 54px;
      letter-spacing: 5px;
      line-height: 50px;
      color: #405266;

      span {
        color: #95D3D0;
      }
    }

    p:nth-child(2) {
    	text-align: right;
      font-size: 20px;
      color: #5A7492;
    }

    p:nth-child(3) {
    	text-align: right;
      color: #4C4C4C;
    }
  }

  .skills {
  	p {
  		text-align: right;
  	}
  }


  .about-picture {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;

    img {
      width: 100%;
      max-width: 400px;
      display: block;
      margin: 0 auto;
    }

    .filter {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(45deg, rgba(84,249,255,0.3) 0%, rgba(132,67,230,0.1) 100%);
    }
  }
}