@import 'helpers/middle-line';

#about {
margin-bottom: 12%;

  h1 {
    position: relative;
  	text-align: right;
  	color: #E6E6E6;
    margin-bottom: 50px;
  }

  .about-me {
    text-align: center;
    font-size: 1.5em;
    line-height: 22px;
    color: #808080;

    img {
      width: 60%;
      max-width: 350px;
    }

    .span-style {
      color: #5C5C5C;
      font-weight: bold;
    }

    .middle-line {
      @include middle-line(50px, #E6E6E6);
    }

    p:nth-child(7) {
      font-size: 0.75em;
    }

    /*p:nth-child(8) {
      line-height: 50px;
      font-size: 0.85em;
      color: #636363;
      font-weight: bold;
      letter-spacing: 1px;
    }*/
  }

  .skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .brands {
      font-size: 1.5em;
      opacity: 0.6;
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease;
      
      &:hover {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .about-me {
      font-size: 1.2em;
    }
  }
}