@import 'helpers/middle-line';

#about {
  margin-top: 4%;
  margin-bottom: 8%;

  h1 {
  	text-align: right;
  	color: #E6E6E6;
  }

  .about-me {
    text-align: center;
    font-size: 1.5em;
    line-height: 22px;
    color: #808080;

    img {
      width: 66%;
      max-width: 350px;
    }

    .span-style {
      color: #5C5C5C;
      font-weight: 500;
    }

    .middle-line {
      @include middle-line(50px, #E6E6E6);
    }

    p:nth-child(7) {
      font-size: 0.75em;
    }
  }

  .skills-icons {
    font-size: 1.5em;
    line-height: 1.7;
    padding: 10px;
    opacity: 0.7;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;

    &:hover {
      opacity: 1;
    }
  }

  @media screen and (max-width: 500px) {
    .about-me {
      font-size: 1.2em;
    }

    h1 {
      display: none;
    }
  }
}