$dark-yellow: #FFCC66;
$footer-main: #F6F6F6;//#333366

#footer {
  h3 {
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
    margin-bottom: -40px;
  }

  .form-wrapper {
    padding: 60px 0;
    width: 96%;
    max-width: 700px;
    margin: 0 auto;
  
    form {
      border-radius: 8px;
      background-color: #f2f2f2;
      padding: 20px;
    }
  
    input[type=text], input[type=email] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border: none;
      border: 1px solid rgb(216, 216, 216);
      border-radius: 4px;
      // border: 1px solid $dark-yellow;
    }
  
    textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      margin-top: 10px;
      border: 1px solid rgb(216, 216, 216);
      resize: none;
    }
  
    input[type=submit] {
      width: 100%;
      background-color: $dark-yellow;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    input[type=submit]:hover {
      background-color: rgb(255, 214, 132);
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  background-color: #000000;

  p {
    color: #CCCEE8;
    font-size: 14px;
    margin-left: 10px;
  }

  .footer-icons {
    display: flex;
    font-size: 20px;
    margin-right: 6px;

    a {
      color: #CCCEE8;
      padding: 0 4px;
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column-reverse;

    .footer-icons {
      justify-content: space-evenly;
      width: 100%;
      font-size: 24px;
      margin: 0;
      padding: 8px 0;
    }
  }
}

