@import 'helpers/watercolor__brush';

.contact {
  padding-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    margin: 0 auto;
    padding: 30px 0;
  }

  &__columns {
    flex-basis: 100%;
  }

  &__text {
    margin-top: 30px;
    line-height: 2.2;
    padding-bottom: 10px;

    h2 {
      font-size: 1.3em;
      font-weight: 100;
    }
  
    p {
      font-size: 1.1em;
      color: rgb(109, 109, 109);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-elements {
    position: relative;
    margin: 14px 0;

    &--first {
      @include watercolor__brush (
        100%, 50px, 
        url('/assets/images/brushes/watercolor-orange.png')
      );
    }

    &--second {
      @include watercolor__brush (
        100%, 50px, 
        url('/assets/images/brushes/watercolor-red-small.png')
      );
    }

    &--third {
      margin: 30px 0;
      @include watercolor__brush (
        100%, 160px, 
        url('/assets/images/brushes/watercolor-red-big.png')
      );
    }
  }

  &__input {
    height: 45px;
    width: 100%;
    border: none;
    padding: 0 7%;
    font-size: 1em;
    background-color: transparent;
    color: white;
    outline: none;
    font-family: 'Neucha', 'Comic Sans MS', sans-serif;

    &::placeholder {
      color: white;
      opacity: 1;
    }
    
    &:focus {
      padding-left: 8%;
    }
  }

  &__message-input {
    resize: none;
    height: 130px;
    padding-top: 10px;
  }

  &__button {
    cursor: pointer;
    border: none;
    outline: none;
    align-self: center;
    font-size: 1em;
    letter-spacing: 1px;
    color: white;
    background: url('/assets/images/brushes/watercolor-red-small.png') no-repeat;
    background-size: 100% 50px;
    width: 160px;
    height: 50px;
    font-family: 'Neucha', 'Comic Sans MS', sans-serif;

    &:focus, &:active {
      transform: scale(1.04);
    }
  }

  @media (min-width: 700px) {
    padding-top: 200px;
  }

  @media (min-width: 680px) {
    &__container {
      flex-direction: row;
      max-width: 1000px;
      padding-bottom: 100px;
    }
    
    &__columns {
      flex-basis: 65%;
      margin: 0 6px;

      &--smaller {
        flex-basis: 35%;
      }
    }
  }
}

.mobile-footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  background-color: rgb(10, 10, 10);

  p {
    color: #CCCEE8;
    font-size: 0.7em;
    margin-left: 10px;
  }

  &__icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 250px;
    font-size: 20px;
    padding: 8px 0;

    a {
      color: #CCCEE8;
      padding: 0 4px;
    }
  }

  @media (min-width: 1025px) {
    display: none;
  }
}

