@import 'helpers/slideinleft';
@import 'helpers/slideinright';

.navbar {
  padding-top: 70px;

  .icons-left {
    @include slide-left-speed(0.4s);
  }

  .icons-right {
    text-align: right;
    @include slide-right-speed(0.4s);
  }

  .icon {
    color: #000000;
    font-size: 20px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;

    &:hover {
      color: #FFCC66;
    }
  }

  .logo {
    margin-bottom: 90px;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      max-width: 140px;
      margin-top: -20px;
    }
  }
}


.menu {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: bold;

  .txt-btn {
    position: relative;
    color: #363636;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .txt-btn:active {
    background-color: #FFCC66;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 4px 0 4px;
  }

  .txt-btn:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    width: 100%;
    border-bottom: 2px solid #FFCC66;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }

  .txt-btn:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.header-img {
  margin-top: 10%;
  width: 100%;
  height: 500px;
  background: url(../images/header-image.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}