@import 'helpers/slideinleft';
@import 'helpers/slideinright';

nav {
  padding-top: 70px;

  .social-icons {
    font-size: 20px;
    @include slide-left-speed(0.4s);
  }

  .social-icons-2 {
    font-size: 20px;
    text-align: right;
    @include slide-right-speed(0.4s);
  }

  i {
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;

    &:hover {
      cursor: pointer;
      text-shadow: 2px 2px 2px #CCCCCC;
      color: #FFCC66;
    }
  }

  .logo {
    margin-bottom: 90px;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      max-width: 140px;
      margin-top: -20px;
    }
  }

  .menu {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: bold;

    ul {
      list-style-type: none;
      color: #3D3D3D;
      padding: 0;
      margin: 0;
    }
  }
}


.header-img {
  margin-top: 10%;
  width: 100%;
  height: 500px;
  background: url(../pictures/header-image.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}