#portfolio {
  margin-top: 8%;
  margin-bottom: 10%;

  h1 {
    color: #E6E6E6;
  }

  img {
    width: 44%;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: all 0.1s ease-in-out;
  }

  .portfolio-img-2,
  .portfolio-img-3,
  .portfolio-img-5 {
    width: 62%;
  }

  .portfolio-img-6 {
    width: 36%;
  }
}


.box-layout {
  background-color: #F7F7F7;
  position: relative;

  .text {
    color: #6C6C6C;
    position: absolute;
    margin: auto;
    right: 0; bottom: 0; left: 0;
    width: 43%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 0 0 3px -1px #999998;
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    img {
      -webkit-transform: scale(0.97);
      transform: scale(0.97);
    }

    @media screen and (min-width: 992px) {
      .text {
        opacity: 1;
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
      }
    }
  }
}

.box-1 {
  border-top-left-radius: 12px;
  padding-top: 114%;
}

.box-2 {
  border-top-right-radius: 12px;
  padding-top: 55%;
  margin-bottom: 4%;
}

.box-3 {
  padding-top: 55%;
}

.box-4 {
  padding-top: 45%;
}

.box-5 {
  border-bottom-left-radius: 12px;
  padding-top: 70%;
}

.box-6 {
  border-bottom-right-radius: 12px;
  padding-top: 70%;
}

.gutter {
  padding: 1%;
}

.gutter-box-2-3 {
  padding: 0;
}