.portfolio {
  padding-top: 100px;
  margin-bottom: 100px;
  background-color: #F9F9F9;

  .first-column {

    .box {
      height: 400px;
      border: 1px solid;
      margin-bottom: 50px;
    }
  }

  .second-column {
    margin-top: 80px;

    .box {
      border: 1px solid;
      height: 400px;
      margin-bottom: 50px;
    }
  }
}