#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    padding: 50px 0;
    border-bottom: 1px solid rgb(231, 231, 231);
    
    &:nth-last-child(1) {
      border: none;
    }
    
    .project-img {
      flex-basis: 50%;
      min-width: 400px;
      
      img {
        width: 100%;
        height: auto;
        max-width: 450px;
      }

      .calc-img {
        width: 50%;
        max-width: 250px;
      }

      .tributepage-img {
        width: 60%;
        max-width: 270px;
      }
    }
    
    .description {
    flex-basis: 50%;
    min-width: 400px;
    align-self: center;
    
      p {
        padding: 20px 0;
        line-height: 1.5;
        font-size: 14px;
      }
    }
  
    @media (max-width: 460px) {
      .project-img, .description {
        flex-basis: 100%;
        min-width: 100%;
      }
    }
  }
}

.align-right {
  .project-img {
    text-align: right;
  }

  .description {
    text-align: left;
    padding-left: 20px;
  }
}

.align-left {
  display: flex;
  flex-flow: row-reverse;
  
  .project-img {
    text-align: left;
  }

  .description {
    text-align: right;
    padding-right: 20px;
  }
}

@media (max-width: 1165px) {
  .align-right .description,
  .align-left .description {
    text-align: center;
    padding: 0;
  }

  .align-right .project-img,
  .align-left .project-img {
    text-align: center;
  }
}
