$gold-yellow: #FFCC66;
$animate: all 0.2s ease-out;
$nav-width: 240px;
$nav-negative-width: -240px;

#menu {
  display: flex;
  flex-direction: column;
  margin-left: $nav-negative-width;
  width: $nav-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: $animate;
  

  .selected {
    font-size: 1.5em;
    color: #CCCEE8;
    letter-spacing: 2px;
    margin-left: 10px;
    border-bottom: 1px solid rgba(204, 206, 232, 0.418);
  }

  &.active {
    left: $nav-width;
    width: $nav-width;
  }
}


.burger-menu {
  position: fixed;
  // display: block;
  top: 0;
  left: 0;
  z-index: 10;
  border: none;
  outline: none;
  padding: 0.9em 1.1em;
  background-color: rgba(0, 0, 0, 0.7);
  transition: $animate;

  img {
    width: 22px;
  }

  &:hover,
  &:focus {
    background: #191818;
  }

  &.active {
    left: $nav-width;
  }
}


.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 33.3%;
  min-height: 150px;


  a {
    font-size: 40px;
    font-weight: 600;
    color: $gold-yellow;
    border: 1px solid $gold-yellow;
    padding: 10px;
    margin-top: 50px;
    // background-color: $gold-yellow;
  }
}


.menu-links {
  flex-basis: 33.3%;
  min-height: 250px;
  padding-left: 8px;
  font-size: 1.5em;
  line-height: 2;
  font-weight: bold;
}


.bottom-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 33.3%;
  min-height: 150px;

  .nav-icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding: 26px 0 20px 0;
    border-top: 1px solid rgba(255, 204, 102, 0.274);

    a {
      color: $gold-yellow;
    }
  }
  
  p {
    text-align: center;
    color: $gold-yellow;
    padding-bottom: 10px;
    font-size: 0.7em;
  }
}


@media (min-width: 1200px) {
  body {
    padding-left: $nav-width;
  }
  #menu {
    left: $nav-width;
  }
  .burger-menu {
    position: fixed;
    left: $nav-width;
    display: none;
  }
  .navbar.active .burger-menu {
    left: $nav-width;
  }
}