#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.08);

  &:before {
    content: '';
    position: absolute;
    margin: auto;
    bottom: -1.52em;
    right: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background-color: rgb(235, 235, 235);
    // box-shadow: inset 2px 2px 0px rgb(255, 231, 136);
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   height: 2px;
  //   width: 70%;
  //   margin: auto;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background-color: rgb(255, 231, 136);
  //   z-index: -1;
  // }

  p {
    text-align: center;
    font-size: 1.5em;
  }

  .skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 900px;
    margin: 0 auto;
    font-size: 4em;
    
    span {
      text-align: center;
      flex-basis: 25%;
      margin: 5% 0;
      padding: 10px;
      opacity: 0.8;
      // line-height: 2;
      transition: all 0.1s ease;
  
      &:hover {
        opacity: 1;
      }
    }
  }
}