.navbar {
  width: 96%;
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 0;

  .left-icons,
  .logo,
  .right-icons {
    display: inline-block;
    width: 33.3%;
  }

  .logo {
    text-align: center;
    margin-bottom: 110px;

    img {
      width: 100%;
      max-width: 140px;
      height: auto;
      margin-bottom: -20px;
    }
  }
}


.menu {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;

  a {
    display: inline-block;
    width: 33.3%;
    text-decoration: none;
    color: #464646;
  }

  span {
    position: relative;
    font-size: 18px;
  }
}


.header-img {
  margin-top: 10%;
  height: 530px;
  background: url(./images/header-image.png) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .navbar {
    padding-top: 20px;

      .logo {
        margin-bottom: 120px;

      img {
        margin-bottom: -70px;
      }
    }
  }

  .header-img {
    background: url(./images/header-image-phone.png) no-repeat center center;
    background-size: cover;
  }
}

.about-me img {
  width: 66%;
  max-width: 350px;
}