* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: #464646;
}

#about, #skills, footer {
  height: 100vh;
  min-height: 600px;
}

#menu {
  display: flex;
  flex-direction: column;
  margin-left: -240px;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.2s ease-out;
}

#menu .selected {
  font-size: 1.5em;
  color: #CCCEE8;
  letter-spacing: 2px;
  margin-left: 10px;
  border-bottom: 1px solid rgba(204, 206, 232, 0.418);
}

#menu.active {
  left: 240px;
  width: 240px;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border: none;
  outline: none;
  padding: 0.9em 1.1em;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-out;
}

.burger-menu img {
  width: 22px;
}

.burger-menu:hover, .burger-menu:focus {
  background: #191818;
}

.burger-menu.active {
  left: 240px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 33.3%;
  min-height: 150px;
}

.logo a {
  font-size: 40px;
  font-weight: 600;
  color: #FFCC66;
  border: 1px solid #FFCC66;
  padding: 10px;
  margin-top: 50px;
}

.menu-links {
  flex-basis: 33.3%;
  min-height: 250px;
  padding-left: 8px;
  font-size: 1.5em;
  line-height: 2;
  font-weight: bold;
}

.bottom-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 33.3%;
  min-height: 150px;
}

.bottom-links .nav-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
  padding: 26px 0 20px 0;
  border-top: 1px solid rgba(255, 204, 102, 0.274);
}

.bottom-links .nav-icons a {
  color: #FFCC66;
}

.bottom-links p {
  text-align: center;
  color: #FFCC66;
  padding-bottom: 10px;
  font-size: 0.7em;
}

@media (min-width: 768px) {
  body {
    padding-left: 240px;
  }
  #menu {
    left: 240px;
  }
  .burger-menu {
    position: fixed;
    left: 240px;
    display: none;
  }
  .navbar.active .burger-menu {
    left: 240px;
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about h1 {
  text-align: right;
  color: #E6E6E6;
}

#about .about-me {
  text-align: center;
  font-size: 1.5em;
  line-height: 2;
  color: #808080;
}

#about .about-me img {
  width: 66%;
  max-width: 350px;
}

#about .about-me .span-style {
  color: #5C5C5C;
  font-weight: 500;
}

#about .about-me .middle-line {
  width: 1px;
  height: 50px;
  background-color: #E6E6E6;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  #about .about-me {
    font-size: 1.2em;
  }
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
}

#skills p {
  text-align: center;
  font-size: 1.5em;
}

#skills .skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 0 auto;
  font-size: 4em;
}

#skills .skills-icons span {
  text-align: center;
  flex-basis: 25%;
  margin: 5% 0;
  padding: 10px;
  opacity: 0.8;
  transition: all 0.1s ease;
}

#skills .skills-icons span:hover {
  opacity: 1;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

#portfolio .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 50px 0;
  border-bottom: 1px solid #e7e7e7;
}

#portfolio .projects:nth-last-child(1) {
  border: none;
}

#portfolio .projects .project-img {
  flex-basis: 50%;
  min-width: 400px;
}

#portfolio .projects .project-img img {
  width: 100%;
  height: auto;
  max-width: 450px;
}

#portfolio .projects .project-img .calc-img {
  width: 50%;
  max-width: 250px;
}

#portfolio .projects .project-img .tributepage-img {
  width: 60%;
  max-width: 270px;
}

#portfolio .projects .description {
  flex-basis: 50%;
  min-width: 400px;
  align-self: center;
}

#portfolio .projects .description p {
  padding: 20px 0;
  line-height: 1.5;
  font-size: 14px;
}

@media (max-width: 460px) {
  #portfolio .projects .project-img, #portfolio .projects .description {
    flex-basis: 100%;
    min-width: 100%;
  }
}

.align-right .project-img {
  text-align: right;
}

.align-right .description {
  text-align: left;
  padding-left: 20px;
}

.align-left {
  display: flex;
  flex-flow: row-reverse;
}

.align-left .project-img {
  text-align: left;
}

.align-left .description {
  text-align: right;
  padding-right: 20px;
}

@media (max-width: 1165px) {
  .align-right .description,
  .align-left .description {
    text-align: center;
    padding: 0;
  }
  .align-right .project-img,
  .align-left .project-img {
    text-align: center;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid;
}

footer h3 {
  font-size: 2.3em;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

footer .form-wrapper {
  width: 96%;
  max-width: 700px;
  margin-bottom: 50px;
}

footer .form-wrapper form {
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 2.5%;
}

footer .form-wrapper input[type=text], footer .form-wrapper input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

footer .form-wrapper textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  border: 1px solid #d8d8d8;
  resize: none;
}

footer .form-wrapper input[type=submit] {
  width: 100%;
  background-color: #FFCC66;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer .form-wrapper input[type=submit]:hover {
  background-color: #ffd684;
}

.footer-bottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  background-color: #000000;
  position: fixed;
  bottom: 0;
}

.footer-bottom p {
  color: #CCCEE8;
  font-size: 0.7em;
  margin-left: 10px;
}

.footer-bottom .footer-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 250px;
  font-size: 20px;
  padding: 8px 0;
}

.footer-bottom .footer-icons a {
  color: #CCCEE8;
  padding: 0 4px;
}

@media (min-width: 768px) {
  .footer-bottom {
    display: none;
  }
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url(https://fonts.gstatic.com/s/quicksand/v7/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local("Quicksand Medium"), local("Quicksand-Medium"), url(https://fonts.gstatic.com/s/quicksand/v7/FRGja7LlrG1Mypm0hCq0Dhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?fehku0");
  src: url("../fonts/icomoon.eot?fehku0#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fehku0") format("truetype"), url("../fonts/icomoon.woff?fehku0") format("woff"), url("../fonts/icomoon.svg?fehku0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  position: relative;
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:after, [class*=" icon-"]:after {
  position: absolute;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 0.2em;
  bottom: -0.8em;
  right: 0;
  left: 0;
  color: black;
}

.icon-ajax:before {
  content: "\e903";
  color: #4789c1;
}

.icon-ajax:after {
  content: "Ajax";
}

.icon-responsive-design:before {
  content: "\e902";
  color: #3821ce;
}

.icon-responsive-design:after {
  content: "RWD";
}

.icon-adobephotoshop:before {
  content: "\e904";
  color: #00c8ff;
}

.icon-adobephotoshop:after {
  content: "Photoshop";
}

.icon-jquery:before {
  content: "\e909";
  color: #0769ad;
}

.icon-jquery:after {
  content: "jQuery";
}

.icon-git:before {
  content: "\e905";
  color: #f14e32;
}

.icon-git:after {
  content: "Git";
}

.icon-bootstrap:before {
  content: "\e906";
  color: #563d7c;
}

.icon-bootstrap:after {
  content: "Bootstrap";
}

.icon-sass:before {
  content: "\e908";
  color: #c69;
}

.icon-sass:after {
  content: "Sass";
}

.icon-css:before {
  content: "\e901";
  color: #f43059;
}

.icon-css:after {
  content: "CSS";
}

.icon-html5:before {
  content: "\e900";
  color: #e34f26;
}

.icon-html5:after {
  content: "HTML5";
}

.icon-javascript:before {
  content: "\e90a";
  color: #f7df1e;
}

.icon-javascript:after {
  content: "JavaScript";
}

.icon-gulp:before {
  content: "\e907";
  color: #da4648;
}

.icon-gulp:after {
  content: "Gulp";
}

.icon-wordpress:before {
  content: "\eab4";
  color: #21759b;
}

.icon-wordpress:after {
  content: "WP";
}

.icon-php:before {
  content: "\e90d";
  color: #777bb4;
}

.icon-php:after {
  content: "PHP";
}

.icon-mysql:before {
  content: "\e90c";
  color: #4479a1;
}

.icon-mysql:after {
  content: "MySQL";
}

.icon-paper-plane:before {
  content: "\e90b";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin2:before {
  content: "\eaca";
}

/*# sourceMappingURL=style.css.map */
