.contact {
  margin-top: 100px;
  height: 600px;

  h3 {
    text-align: center;
    color: rgb(68, 104, 121);
    font-size: 1.4em;
    margin-top: 100px;
    font-weight: 400;
  }

  &__social-links {
    font-family: 'Permanent Marker', sans-serif;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-top: 120px;
    font-size: 2em;
  }

  &__facebook {
    color: rgb(68, 105, 175);
  }
  &__twitter {
    color: rgb(42, 163, 239);
  }
  &__linkedin {
    color: rgb(17, 120, 179);
  }
  &__github {
    color: rgb(36, 41, 46);
  }
}