@mixin remove-style-ios {
  -webkit-appearance: none;
  border-radius: 0;
}

.contact {
  padding-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    margin: 0 auto;
    padding: 50px 0;
  }

  &__columns {
    flex-basis: 100%;
  }

  &__text {
    margin-top: 30px;
    line-height: 2.2;
    padding-right: 15px;

    h3 {
      font-size: 1.2em;
      font-weight: 100;
      color: rgb(95, 99, 102);
    }
  
    p {
      font-size: 1em;
      color: rgb(106, 110, 112);
    }
  }

  &__error{
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 0, 0);
    width: 100%;
    min-height: 45px;
    color: rgb(226, 0, 0);
    font-size: 1em;
    letter-spacing: 1px;
    padding: 6px 30px 6px 10px;
    position: relative;
    animation: error-fade 0.5s;
    display: none;

    &--success {
      @extend .contact__error;
      border: 1px solid rgb(101, 180, 91);
      color: green;
    }
  }

  &__close-error {
    position: absolute;
    padding: 8px;
    right: 0;
    top: 0;
    font-size: 0.7em;
  }

  @keyframes error-fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-elements {
    position: relative;
    margin: 10px 0;
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: rgb(233, 69, 69);
    color: white;
    position: absolute;
  }

  &__input {
    height: 45px;
    width: 100%;
    border: 1px solid rgb(233, 69, 69);
    padding-left: 50px;
    font-size: 1em;
    @include remove-style-ios;
    
    &:focus {
      outline: 1px solid rgb(255, 0, 0);
      box-shadow: 0 0 3px rgb(255, 0, 0);
    }
  }

  &__message-input {
    resize: none;
    height: 150px;
    padding-top: 14px;
  }

  &__submit {
    border: none;
    width: 100%;
    height: 40px;
    background-color: rgb(233, 69, 69);
    color: white;
    font-size: 1em;
    @include remove-style-ios;

    &:focus, &:active {
      outline: 1px solid rgb(255, 0, 0);
      box-shadow: 0 0 3px rgb(255, 0, 0);
    }
  }

  @media (min-width: 650px) {
    padding-top: 200px;

    &__container {
      flex-direction: row;
      max-width: 1000px;
      padding-bottom: 150px;
    }
    
    &__columns {
      flex-basis: 65%;
      margin: 0 6px;

      &--smaller {
        flex-basis: 35%;
      }
    }

    &__error {
      justify-content: center;
      padding: 6px 26px;
      text-align: center;
    }

    &__close-error {
      cursor: pointer;
      &:hover {
        transform: scale(1.15);
      }
    }

    &__submit {
      cursor: pointer;
      &:hover {
        font-size: 1.1em;
      }
    }
  }

  &__resume {
    color: rgb(180, 190, 206);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    padding: 0 1em 1em;

    span {
      color: rgb(117, 138, 163);
    }

    &:hover {
      color: rgb(161, 170, 184);
    }
  }
}

.mobile-footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  background-color: rgb(10, 10, 10);

  p {
    color: white;
    font-size: 0.7em;
    margin-left: 10px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    font-size: 20px;
    padding: 8px 0;

    a {
      color: white;
      padding: 0 4px;
    }
  }

  @media (min-width: 1025px) {
    display: none;
  }
}