@import 'helpers/watercolor__brush';
$animate: all 0.2s ease-out;
$nav-width: 220px;
$nav-negative-width: -220px;

.side-navbar {
  &__container {
    display: flex;
    flex-direction: column;
    margin-left: $nav-negative-width;
    width: $nav-width;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0; bottom: 0; left: 0;
    z-index: 10;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: $animate;

    &.is-active {
      left: $nav-width;
      width: $nav-width;
    }
  }

  &__button {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    border: none;
    outline: none;
    width: 50px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    color: white;
    transition: $animate;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.9);
    }

    .icon-close {
      display: none;
    }

    &.is-active {
      background-color: transparent;
      position: fixed;
      left: 170px;

      .icon-menu {
        display: none;
      }
      .icon-close {
        display: block;
        color: black;
      }
    }
  }

  &__menu {
    margin-top: auto;
    text-align: center;
  }

  &__list {
    list-style: none;
    font-size: 1.7em;
    line-height: 2;
    font-weight: bold;
    letter-spacing: 2px;

    .is-selected {
      display: block;
      color: rgb(255, 255, 255);
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background: url('/public/assets/images/brush-strokes/blue-brush.png') no-repeat;
        background-size: 100% 30px;
        width: 160px;
        height: 30px;
        bottom: 14px; left: 32px;
        z-index: -1;
      }
    }

    a {
      color: rgb(68, 104, 121);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    p {
      text-align: center;
      padding-bottom: 10px;
      font-size: 0.7em;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    font-size: 1.4em;
    padding-bottom: 26px;

    a {
      color: rgb(255, 255, 255);
      position: relative;
      @include watercolor__brush(
        100%, 30px, url('/public/assets/images/brush-strokes/bigblue-brush.png')
      );
      transition: $animate;

      &:hover {
        padding-top: 6px;
      }
    }
  }
}

@media (min-width: 1025px) {
  body {
    padding-left: $nav-width;
  }
  .side-navbar {
    &__container {
      left: $nav-width;
    }

    &__button {
      position: fixed;
      left: $nav-width;
      display: none;
    }
  }
}