@mixin slide-left-speed($speed) {
  -moz-animation: $speed ease-out 0s 1 slideInLeft;
  -webkit-animation: $speed ease-out 0s 1 slideInLeft;
  animation: $speed ease-out 0s 1 slideInLeft;

  @-webkit-keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @-moz-keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}