@mixin watercolor__brush ($width, $height, $background-path) {
  &:before {
    content: '';
    position: absolute;
    background: $background-path no-repeat;
    background-size: $width $height;
    width: $width;
    height: $height;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    z-index: -1;
  }
}